# OBJECT ORIENTED PROGRAMMING

### 2) CREATING CLASSES AND OBJECTS

In [1]:
a=10
print(type(a))

<class 'int'>

### 3) USER-DEFINED CLASSES

In [2]:
class Student:
    pass

In [3]:
class Student: 
    pass 
sl=Student() 
s2=Student() 
print(type(sl))

<class '__main__.Student'>

### 4) ATTRIBUTES

#### 1) INSTANCE ATTRIBUTES

In [4]:
class Student: 
    pass 
sl=Student() 
s2=Student() 
s3=Student()

In [5]:
sl.name="Rajat"
sl.age=20
s2.roll_number=101
s3.age=21

In [7]:
print (sl.__dict__)
print (s2.__dict__)
print (s3.__dict__)

{'name': 'Rajat', 'age': 20}
{'roll_number': 101}
{'age': 21}

#### 2) To access the values of the attributes

In [8]:
print(sl.name) 
print(sl.age) 
print(s2.roll_number) 
print(s3.age)
#print(s2.name)-> Error

Rajat
20
101
21

AttributeError: 'Student' object has no attribute 'name'

#### 3) Methods used on instance objects

In [10]:
print(hasattr(sl,"name")) 
print(setattr(s2,"name","Mohit")) 
print(delattr(sl,"name")) 
print(getattr(s2,"name","Attribute absent")) 
print(getattr(sl,"name","Attribute absent"))

True
None
None
Mohit
Attribute absent

#### 4) Class Attributes

In [11]:
class Student:
    pass
print(Student.__dict__)

{'__module__': '__main__', '__dict__': <attribute '__dict__' of 'Student' objects>, '__weakref__': <attribute '__weakref__' of 'Student' objects>, '__doc__': None}

In [13]:
class Student: 
    total_students=20 
    class_teacher_name="Archana"
s1=Student()
print(s1.total_students) 
print(s1.__dict__)

20
{}

In [14]:
class Student: 
    total_students=20 
    class_teacher_name="Archana"
s1=Student()
s2=Student()
Student.total_students=30 
print(s1.total_students) 
print(s2.total_students)

30
30

In [16]:
class Student: 
    total_students=20 
    class_teacher_name="Archana"
s1=Student()
s2=Student() 
s1.total_students=30  
print(s1.total_students) 
print(s2.total_students)

print(s1.__dict__)

30
20
{'total_students': 30}

### 5) METHODS

In [22]:
class Student:
    def print_hello(): 
        print("Hello") 
sl=Student() 
Student.print_hello()#-> No object is passing as an argument

Hello

In [17]:
class Student:
    def print_hello(): 
        print("Hello") 
sl=Student() 
#sl.print_hello()-> Error because an object is passing as an argument 
                    #and in the function there is no one to collect it

TypeError: print_hello() takes 0 positional arguments but 1 was given

In [19]:
class Student:
    def print_hello(self): 
        print("Hello") 
sl=Student() 
sl.print_hello()

Hello

In [21]:
class Student:
    def print_hello(self): 
        print("Hello") 
sl=Student() 
sl.print_hello()
Student.print_hello(sl)

Hello
Hello

#### 1) Local Variables

In [23]:
class Student:
    def print_name(self): 
        print(self.name)
sl=Student() 
sl.name="Rajat" 
sl.print_name()

Rajat

In [24]:
class Student:
    def print_name(self): 
        string="hello"
        print(string)
        #print(name)-> cannot print variables which are not local like this
sl=Student() 
sl.name="Rajat" 
sl.print_name()

hello

NameError: name 'name' is not defined

#### 2) Creating new instance attribute

In [25]:
class Student:
    def add_name(self,name): 
        self.name=name 
s1=Student()
s2=Student()
s1.add_name("Rajat")
s2.add_name("Vivek")
print(s1.name,s2.name)

Rajat Vivek

In [27]:
class Student:
    total_students=100 
    def add_name(self,name): 
        self.name=name
    def test(self): 
        print(Student.total_students) 
s1=Student()
s1.test()

100

### 6) CONSTRUCTORS

In [31]:
class Car:
    def __init__(self):
        print("Constructor is called ")
        
c1=Car()
c2=Car()

Constructor is called
Constructor is called

#### 1) Using parametrized constructor

In [32]:
class Car:
    def __init__(self,name,mileage):
        self.name=name
        self.mileage=mileage
        
c1=Car("Toyota",30)
c2=Car("Honda",40)

In [33]:
class Car:
    def __init__(self,name,*args):
        self.name=name 
        self.mileage=args[0] 
        self.model=args[1]
cl=Car("Toyota",30,"Innova") 
c2=Car("Honda",35,"City")

In [34]:
print(cl.name,cl.mileage,cl.model)
print(c2.name,c2.mileage,c2.model)

Toyota 30 Innova
Honda 35 City

#### Creating private variables

In [42]:
class Car:
    def __init__(self,name):
        self.__name=name
c1=Car("Toyota")
c2=Car("Honda")

In [43]:
#print(c1.name) -> as the name variable is now private we can no longer access them outside class

AttributeError: 'Car' object has no attribute 'name'

#### Getters and setters

In [50]:
class Car:
    def __init__(self,name):
        self.__name=name
    def getname(self): 
        return self.__name
c1=Car("Toyota")
c2=Car("Honda")

In [51]:
print(c1.getname())

Toyota

#### Use of private class

In [54]:
class Car:
    def __init__(self,name):
        self.__name=name
    def getname(self,password): 
        if(password!="123"): 
            return
        return self.__name
c1=Car("Toyota") 
c2=Car("Honda")

In [55]:
print(c1.getname('1234'))
print(c1.getname('123'))

None
Toyota

In [59]:
class Car:
    def __init__(self,name):
        self.__name=name
    def getname(self): 
        return self.__name
c1=Car("Toyota") 
c2=Car("Honda")

In [60]:
print(c1._Car__name)

Toyota

#### Classic methods and static methods

In [62]:
class Car:
    __totalcars=500
    def gettotal(self):
        return Car.__totalcars
c1=Car()

In [63]:
print(c1.gettotal())

500

In [65]:
class Car:
    __totalcars=500
    @classmethod
    def gettotal(cls):
        return Car.__totalcars
c1=Car()

In [66]:
print(c1.gettotal())

500

### 7) FOUR PILLARS OF OOP’S

#### 1) Magic functions

In [69]:
class Car:
    def __init__(self,model,mileage):
        self.model=model
        self.mileage=mileage
    def __str__(self):
        return "{} {}".format(self.model,self.mileage)
    def __eq___(self,other):
        return self.mileage==other.mileage
    def __add__(self,other):
        return self.mileage+other.mileage

In [70]:
c1=Car('toyota',30) 
c2=Car('Honda',35) 
print(c1+c2) 
print(c1==c2)

65
False

In [73]:
class Ostream:
    def __lshift__(self,other):
        print(other,end=" ") 
        return self 
cout=Ostream() 
cout<<"Rajat"

Rajat

# INHERITANCE

In [77]:
class company():
    def __init__(self,name,mileage):
        self.name=name
        self.mileage=mileage
    def get(self):
        print("Name :{},Mileage :{}".format(self.name,self.mileage))
        
class Car(company):
    def __init__(self,name,mileage,model):
        super().__init__(name,mileage)
        self.model=model 
    def get(self):
        company.get(self)
        print("Model :{}".format(self.model))

In [78]:
c1=Car("Toyota",30,"Innova")
c1.get()

Name :Toyota,Mileage :30
Model :Innova

### 1) MRO(Method resolution operator)

In [44]:
class A:
    x=10
class B(A):
    pass 
class C(A):
    pass
class D(C):
    x=5
class E(B,D): 
    pass
e=E() 
print(e.x)
print(E.__mro__)

5
(<class '__main__.E'>, <class '__main__.B'>, <class '__main__.D'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>)