# FILE HANDLING

## 1) TEXT FILES

### Reading a file

In [1]:
file=open("message.txt", 'r') 
a=file.read()
print(a)
file.close()

Ikusei Welcomes You!

### Writing the file

In [2]:
file=open("reply.txt", 'w') 
a=file.write("I am really excited to join Ikusei ") 
print(a)
file.close()

35

### Reading the above file

In [3]:
file=open("reply.txt","r") 
b=file.read()
print(b)
file.close()

I am really excited to join Ikusei

### Writing in a file

In [4]:
file=open("reply.txt",'w')
a=file.write("It will be a great journey .") 
print(a)
file.close()

28

### Reading the above file

In [5]:
file=open("reply.txt","r") 
b=file.read()
print(b)
file.close()

It will be a great journey .

### Reading the above file

In [6]:
file=open("reply.txt","r") 
b=file.read(6) 
c=file.read() 
d=file.read() 
print(b) 
print(c) 
print(d) 
print(type(b)) 
file.close()

It wil
l be a great journey .

<class 'str'>

### Appending in the file

In [7]:
file=open("reply.txt",'a+')
a=file.write("I am excited to learn various new technologies .") 
print(a)
file.seek(0)
b=file.read()
print(b)
file.close()

48
It will be a great journey .I am excited to learn various new technologies .

### Different modes to read from a file

In [8]:
file=open("reply.txt",'r') 
a=file.read() 
print(type(a))
print(a)
file.seek(0)

b=file.readline() 
print(type(b))
print(b)
file.seek(0)

c=file.readlines()
print(type(c)) 
print(c)

<class 'str'>
It will be a great journey .I am excited to learn various new technologies .
<class 'str'>
It will be a great journey .I am excited to learn various new technologies .
<class 'list'>
['It will be a great journey .I am excited to learn various new technologies .']

### Better way to open files

In [9]:
with open("reply.txt","r") as file: 
    print(file.read()) 
    file.seek(76) 
    print("\n") 
    print(file.read())

It will be a great journey .I am excited to learn various new technologies .

## 2) JSON( JAVASCRIPT OBJECT NOTATION )

In [10]:
with open("data.json","r") as file: 
    print(file.read())

{
    "name": "Toyota",
    "mileage": 30,
    "gears": [1,2,3,4]
}

In [11]:
import json
with open("data.json","r")as file: 
    d= json.load(file) 
    print(d["name"]) 
    print(d["mileage"]) 
    print(d["gears"][3])

Toyota
30
4

In [12]:
import json
with open("data.json","r")as file:
    data = file.read() 
    d= json.loads(data) 
    print(d["name"]) 
    print(d["mileage"])
    print(d["gears"][3])

Toyota
30
4

### 2) Converting a user-defined dictionary into a json file

In [13]:
d={"name":"ikusei","course":"Data science and ML","fees":50000} 
string = json.dumps(d) 
print(string) 
print(type(string))

{"name": "ikusei", "course": "Data science and ML", "fees": 50000}
<class 'str'>

In [14]:
d={"name":"ikusei","course":"Data science and ML","fees":50000} 
with open("data2.json","w")as file:
    json. dump(d, file)
with open("data2.json","r")as file:
    print(file.read())

{"name": "ikusei", "course": "Data science and ML", "fees": 50000}

# ADVANCED FUNCTIONALITIES

### 1) map

In [15]:
def myfunc(n):
    return len(n)
x = map(myfunc, ('Ikusei', 'Python', 'Data Science'))
print(x)
print(list(x))

<map object at 0x0000021D48C85FD0>
[6, 6, 12]

#### Converting Data Types

In [16]:
nums=['1','3','5','90']
print(type(nums[0]),nums[0])
numi=list(map(int,nums)) 
print(type(numi[0]),numi[0])

<class 'str'> 1
<class 'int'> 1

In [17]:
string=["Ikusei","Python","Data Science"] 
print(list(map(str.upper,string))) 
print(list(map(str.lower,string)))

['IKUSEI', 'PYTHON', 'DATA SCIENCE']
['ikusei', 'python', 'data science']

### 2) lambdas

In [18]:
def func(n): 
    return n 
print(func(4))

4

In [19]:
func=lambda n:n
print(func(3))

3

#### Using lambda() with filter()

In [20]:
my_list=[1,2,3,4,5,6,7,8,9,10]
even_list=list(filter(lambda num:num%2==0,my_list)) 
print(even_list)

[2, 4, 6, 8, 10]

#### Using lambda() with map()

In [21]:
seq=[1,2,3,4,5]
print(list(map(lambda num:num*2,seq)))

[2, 4, 6, 8, 10]

#### Using lambda() with reduce()

##### To get the summation of the list

In [22]:
from functools import reduce 
my_list=[1,2,3,4,5,6,7,8,9,10] 
sum=reduce(lambda x,y:x+y ,my_list) 
print (sum)

55

##### To get the maximum

In [23]:
max_val=reduce(lambda a,b:a if a>b else b , my_list)
print(max_val)

10

### 3) Generators in python

In [24]:
def generator_for_iter(): 
    yield 'Ikusei' 
    yield 264 
    yield 'Pyhton'
for i in generator_for_iter(): 
    print(i)

Ikusei
264
Pyhton

In [25]:
def generator_for_iter(): 
    yield 'Ikusei' 
    yield 264 
    yield 'Pyhton'
a=generator_for_iter()

In [26]:
a.__next__()

'Ikusei'

In [27]:
a.__next__()

264

In [28]:
a.__next__()

'Pyhton'

In [29]:
#a.__next__()-> As the values are finished this line will return an error

### 4) Directories in python

In [30]:
import os

In [31]:
os.getcwd()

'C:\\Users\\SYSTEM H821\\Documents\\Python'

In [32]:
os.chdir('C:\\Users\\SYSTEM H821\\Documents\\Python')

In [33]:
# Run code from your PC here

# ERROR AND EXCEPTION HANDLING

In [34]:
#=a5

In [35]:
print("ikusei")
#print(10/0)-> error
print("Welcomes You")

ikusei
Welcomes You

In [36]:
def div(a,b):
    return a/b
div(4,2)
#div(10,0)

2.0

In [37]:
def div(a , b):
    try:
        print(a/b)
    except:
        print('Error !') 
    print("Your program has executed")

In [38]:
div(4,2)
#div(10,0)

2.0
Your program has executed

In [39]:
#10/0

In [40]:
try:
    print(10/0)
except ZeroDivisionError:
    print("You are dividing a number by 0")

You are dividing a number by 0

In [41]:
#try:
    #print(*12)
#except ZeroDivisionError:
    #print("You are dividing a number by 0")

In [42]:
try:
    print(*12)
except ZeroDivisionError:
    print("You are dividing a number by 0")
except:
    print("error!")

error!

In [43]:
try:
    print(int("Ikusei"))
except ZeroDivisionError:
    print("You are dividing a number by 0")
except ValueError:
    print("A string value cannot be converted to integer")
except:
    print("error!")

A string value cannot be converted to integer

In [44]:
try:
    print(int("ikuesei"))
except Exception as e:
    print(e)

invalid literal for int() with base 10: 'ikuesei'

In [45]:
try:
    print(10/0)
except Exception as e:
    print(e)

division by zero

In [46]:
try:
    print(variable)
except Exception as e:
    print(e)

name 'variable' is not defined

#### Custom Exception

In [47]:
try:
    raise Exception("My Custom error")
except Exception as e:
    print(e)

My Custom error

#### Custom Error Class

In [48]:
class MyException:
    def __init__(self,message):
        self.message=message
    def __str___(self):
        return self.message

In [49]:
try:
    raise MyException("My Custom error")
except Exception as e:
    print(e)

exceptions must derive from BaseException

In [50]:
class MyException(Exception):
    def __init__(self,message):
        self.message=message
    def __str___(self):
        return self.message

In [51]:
try:
    raise MyException("My Custom error")
except Exception as e:
    print(e)

My Custom error

### Smart Ways

In [52]:
try:
    print("Program started") 
    print(78/13)
except:
    print("sorry an error occured") 
else:
    print("success")
finally:
    print("Program ended")

Program started
6.0
success
Program ended

In [53]:
try:
    print("Program started") 
    print(10/0)
except:
    print("sorry an error occured") 
else:
    print("success")
finally:
    print("Program ended")

Program started
sorry an error occured
Program ended

In [54]:
def func(): 
    try:
        return 1 
    except:
        return 2 
    else:
        return 3

In [55]:
func()

1

In [56]:
def func(): 
    try:
        return 1 
    except:
        return 2 
    else:
        return 3
    finally:
        return 4

In [57]:
func()

4

In [58]:
try:
    file=open("something.txt") 
except Exception as e: 
    print(e)

[Errno 2] No such file or directory: 'something.txt'

In [59]:
try:
    file=open("message.txt","r")
    print(file.read()) 
except Exception as e:
    print(e)
finally :
    file.close()

Ikusei Welcomes You!