# PYTHON LISTS

### 2) DEFINING A LIST

In [1]:
x=[1,2,3,4] 
print(x)

[1, 2, 3, 4]

In [2]:
x=[]
print(type(x))

<class 'list'>

In [3]:
x=list(input().split(" ")) 
print(x)

45 46 23 defg 67
['45', '46', '23', 'defg', '67']

### 3) OPERATIONS ON LIST

1) Appending

In [4]:
x=[1,2,3,4]
print(x)
print("After appending") 
x.append(5)
print(x)

[1, 2, 3, 4]
After appending
[1, 2, 3, 4, 5]

2) Insertion

In [5]:
x=[1,2,3,4]
print(x)
print("After inserting")
x.insert(2,56) #56 is added at position 2 print(x)

[1, 2, 3, 4]
After inserting

3) Remove

In [6]:
x=[1,2,3,4]
print(x)
print("After deleting an element") 
x.remove(3) #3 is deLeted from the List 
print(x)

[1, 2, 3, 4]
After deleting an element
[1, 2, 4]

4) Popping

In [7]:
x=[1,2,3,4]
print(x)
print("After deleting an element")
x.pop(1) #element at index 1 is deLeted i.e 2 
print(x)

[1, 2, 3, 4]
After deleting an element
[1, 3, 4]

5) Clear

In [8]:
x=[1,2,3,4]
print(x)
x.clear() #List is cLeared 
print("After clearing the list") 
print(x)

[1, 2, 3, 4]
After clearing the list
[]

6) Count

In [9]:
x=[1,2,2,4,4,4,5,6,7,7,7] 
print("Count of 2 is",x.count(2)) 
print("Count of 4 is",x.count(4)) 
print("Count of 6 is",x.count(6))

Count of 2 is 2
Count of 4 is 3
Count of 6 is 1

7) Index

In [10]:
x=[4,45,78,12,6,4,41,5,7,165,79,61]
print(x.index(12,2,6)) #searching for 12 in x from index 2 to 6
#print(x.index(12,4,6)) -> searching for 12 in x from index 4 to 6 will return an error

3

8) Sort

In [11]:
x=[45,798,23,167,1,367,64,61] 
print(x)
x.sort() #defauLt incresing order is taken 
print("Sorted list in incresing order : ") 
print(x)
x.sort(reverse=True)
print("Sorted list in decresing order : ") 
print(x)

[45, 798, 23, 167, 1, 367, 64, 61]
Sorted list in incresing order :
[1, 23, 45, 61, 64, 167, 367, 798]
Sorted list in decresing order :
[798, 367, 167, 64, 61, 45, 23, 1]

In case of strings , if key is not defined then list will get sorted in lexicographical order as in a dictionary.

In [12]:
languages=["raspberry","flutter","java","c-plus-plus","python"] 
languages.sort()
print("List sorted in lexicographical order : ") 
print(languages)

List sorted in lexicographical order :
['c-plus-plus', 'flutter', 'java', 'python', 'raspberry']

In [13]:
def func(x):
    return len(x)
languages.sort(key=func)
print("List sorted on the basis of length : ") 
print(languages)

List sorted on the basis of length :
['java', 'python', 'flutter', 'raspberry', 'c-plus-plus']

9) Copy

In [14]:
listl=["raspberry","flutter"," java","c-plus-plus","python"] 
list2=[] # List2 is empty
print("List 1 : ",listl)
print("List 2 : ",list2) 
list2=listl.copy() # copying eLements of List 1 in List 2 
print("After copying")
print("List 1 : ",listl)
print("list 2 : ",list2)

List 1 :  ['raspberry', 'flutter', ' java', 'c-plus-plus', 'python']
List 2 :  []
After copying
List 1 :  ['raspberry', 'flutter', ' java', 'c-plus-plus', 'python']
list 2 :  ['raspberry', 'flutter', ' java', 'c-plus-plus', 'python']

### 4) range() FUNCTION

#### Using range function to create a list

In [15]:
my_list=list(range(10)) 
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
my_list=list(range(2,10,2))
print(my_list)

[2, 4, 6, 8]

#### To generate decresing numers using range make the step negative

In [17]:
our_list=list(range(15,5,-2))
print(our_list)

[15, 13, 11, 9, 7]

### 5) BUILT-IN FUNCTIONS IN LIST

In [18]:
my_list=list(range(2,30,3)) 
print("Elements in the list : ",my_list) 
print("Sum of the elements : ",sum(my_list)) 
print("Length of the list : ",len(my_list)) 
print("Maximum element in the list : ",max(my_list)) 
print("Minimum element in the list : ",min(my_list)) 
print("Ch|ecking if the list is empty : ",any(my_list))

Elements in the list :  [2, 5, 8, 11, 14, 17, 20, 23, 26, 29]
Sum of the elements :  155
Length of the list :  10
Maximum element in the list :  29
Minimum element in the list :  2
Ch|ecking if the list is empty :  True

### 6) LIST COMPREHENSION

#### Genrating squares of first 10 numers

In [19]:
my_list=[i**2 for i in range(10)] 
print(my_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Generating cube of first 10 numbers

In [20]:
our_list=[i**3 for i in range(10)] 
print(our_list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

### 7) LISTS OF LISTS

In [21]:
my_list=[2,5,6,[3,4]]
print(my_list)

[2, 5, 6, [3, 4]]

In [22]:
my_list=[2,5,6,[3,["java","python"]]] 
print(my_list)

[2, 5, 6, [3, ['java', 'python']]]

### 8) LIST INDEXING

In [23]:
my_list=["java","flutter","python","c-plus-plus"] 
print(my_list[0])	#	eLement	at	0th	index	i.e."java"
print(my_list[1])	#	eLement	at	1st	index	i.e."fLutter"
print(my_list[3])	#	eLement	at	3rd	index	i.e."c-pLus-pLus"

java
flutter
c-plus-plus

In [24]:
my_list=[2,5,6,[3,["java","python","flutter"]]] 
print(my_list[1]) # eLement at 1st index i.e. 5 
print(my_list[3]) # List at 3rd index 
print(my_list[3][1])# nested List at 1st index

5
[3, ['java', 'python', 'flutter']]
['java', 'python', 'flutter']

### 9) LIST SLICING

In [25]:
my_list=[2,5,7,23,12,67,6,72,43]
print(my_list[2:4])

[7, 23]

In [26]:
my_list=[2,5,7,23,12,67,6,72] 
print(my_list[:4]) 
print(my_list[3:])

[2, 5, 7, 23]
[23, 12, 67, 6, 72]

In [27]:
my_list=[2,5,6,[3,["java","python","flutter"]]] 
print(my_list[1:4])  
print(my_list[3][1][:2])

[5, 6, [3, ['java', 'python', 'flutter']]]
['java', 'python']

# PYTHON TUPLES

### 2) BUILT-IN FUNCTIONS IN TUPLES

In [28]:
tup=(2,43,2,12)
print("Length of the tuple : ",len(tup))
print("Maximum element in the tuple : ",max(tup)) 
print("Minimum element in the tuple : ",min(tup)) 
lis=[34,5,345,234,12]
print("Type of lis : ",type(lis))
lis=tuple(lis)
print("After converting list to tuple : ",type(lis))

Length of the tuple :  4
Maximum element in the tuple :  43
Minimum element in the tuple :  2
Type of lis :  <class 'list'>
After converting list to tuple :  <class 'tuple'>

Repetition

In [29]:
tup=(" Ikusei ")*5 
print(tup) 
tup2=("Python","3ava")*3 
print(tup2)

 Ikusei  Ikusei  Ikusei  Ikusei  Ikusei
('Python', '3ava', 'Python', '3ava', 'Python', '3ava')

### 3) TUPLES VS LISTS

In [30]:
tup=(2,4,6,8) 
lis=[1,3,5,7] 
lis.append(9) 
print(lis) 
#tup.append(10) -> This line will return an error  
print(tup)

[1, 3, 5, 7, 9]
(2, 4, 6, 8)

In [31]:
tupl=(2,4,6,8) 
lisl=[1,3,5,7] 
tup2=(10,12,14,16) 
lis2=[9,11,13,15] 
tup3=tupl+tup2 
lis3=lisl+lis2 
print(tup3) 
print(lis3)

(2, 4, 6, 8, 10, 12, 14, 16)
[1, 3, 5, 7, 9, 11, 13, 15]

### 4) COMBINING TUPLES AND LISTS

In [32]:
my_tuple=("Ikusei","for","future","learning") 
print(type(my_tuple))
string=" ".join(my_tuple) 
print(string) 
print(type(string))

<class 'tuple'>
Ikusei for future learning
<class 'str'>

In [33]:
my_list=[("Ikusei","for","future","learning"),
              ( "python", "data analysis","Data visualization")] 
print(type(my_tuple))
string=str([" ".join(tups) for tups in my_list]) 
print(string)
print(type(string))

<class 'tuple'>
['Ikusei for future learning', 'python data analysis Data visualization']
<class 'str'>

# CONTROL STRUCTURES

### 1) CONDITIONALS

In [34]:
a=int(input())
if a==5:
    print("equal to 5") 
else:
    print("No idea")

5
equal to 5

In [35]:
a=int(input())
if a==5:
    print("equal to 5") 
else:
    print("No idea")

6
No idea

In [36]:
a=int(input())
if a==5:
    print("equal to 5")
elif a>5:
    print("Greater than 5")
else:
    print("Smaller than 5")

4
Smaller than 5

In [37]:
a=int(input())
if a==5:
    print("equal to 5")
elif a>5:
    print("Greater than 5")
else:
    print("Smaller than 5")

7
Greater than 5

In [38]:
a=int(input())
if a==5:
    print("equal to 5")
elif a>5:
    print("Greater than 5")
else:
    print("Smaller than 5")

33
Greater than 5

In [39]:
a=int(input()) 
if a==6:
    print("equal to 6") 
if a%2==0:
    print("even number") 
else:
    print("odd number")

4
even number

In [40]:
a=int(input()) 
if a==6:
    print("equal to 6") 
elif a%2==0:
    print("even number") 
else:
    print("odd number")

6
equal to 6

# LOOPS

### 2) FOR LOOPS

In [41]:
lis=list(input("Input the values in list : ").split(" ")) 
print("The list looks like : ",end=" ")
for i in lis:
    print(i,end=" ")

Input the values in list : 435 345 34 534
The list looks like :  435 345 34 534

In [42]:
lis=list(input("Input the values in list : ").split(" ")) 
print("The list looks like : ",end=" ")
for i in range(len(lis)):
    print(lis[i],end=" ")

Input the values in list : 345435 34 534534
The list looks like :  345435 34 534534

#### For Printing odd numers

In [43]:
for i in range(1,10,2):
    print(i,end=" ")

1 3 5 7 9

#### For printing even numers

In [44]:
for i in range(2,11,2):
    print(i,end=" ")

2 4 6 8 10

### 3) while() LOOP

In [45]:
lis =["java","pyhon","c- plus-plus","CSS"] 
i=0
while(i<len(lis)):
    print(lis[i])
    i=i+1

java
pyhon
c- plus-plus
CSS

In [47]:
a=int(input())# taking integer as an input 
while(a%2==0):
    print(a)
    a=int(input())

4
4
6
6
8
8
9

### 4) USE OF “break” AND “continue” KEYWORDS.

In [48]:
lis=[i for i in range(10)] 
for x in lis:
    print(x,end=" ")
    if x>5:
        break

0 1 2 3 4 5 6

In [49]:
lis=list(range(10))
for x in lis:
    if x%4==0: 
        continue 
    print(x,end=" ")

1 2 3 5 6 7 9

### 5) NESTED LOOPS

In [ ]:
lis=[[1,2,3],[4,5,6], [7,8^9]]
for i in range(3):
    for j in range(3):
        print(lis[i][j],end=" "") print("\n”)